@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;

  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-style: bold;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (min-width: 640px) {
  .container {
    padding: 0 2rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 4rem;
  }
}

.top-h1 {
  font-size: clamp(2rem, 2vw + 1.5rem, 4rem);
}

.text-hero {
  font-size: clamp(2rem, 2vw + 1.5rem, 4rem);
}

.text-h1 {
  font-weight: 500;
  line-height: 1;
  font-size: clamp(2rem, 1rem + 5vw, 6rem);
  letter-spacing: -0.02em;
  text-wrap: balance;
}
.text-cta {
  font-weight: 500;
  line-height: 1;
  font-family: PP Neue Montreal, sans-serif;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 5rem);
  letter-spacing: -0.025em;
}
.text-h3 {
  /* font-weight: 500; */
  line-height: 1;
  font-size: clamp(1.625rem, 1.2813rem + 1.7188vw, 3rem);
  letter-spacing: -0.025em;
}

.headline-gradient {
  font-size: min(20rem, 20vh);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 6px;
  background: linear-gradient(90deg, #fff -4.91%, #101820 49.03%, #fff 104.02%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: min(8.3rem, 8.3vh);
  padding-inline: 7rem;
}

@media screen and (max-width: 977px) {
  .headline-gradient {
    font-size: 3rem;
    letter-spacing: 1.5px;
    padding-inline: 3rem;
    margin-bottom: 0rem;
  }
}

.approach-card-wrapper {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  /* height: 28rem; */
  border-radius: 3rem;
  background: #fff6;
  box-shadow: 15px 19px 76.6px #0000000f;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  padding: 2.9rem 3.5rem;
  display: flex;

  flex-direction: column;
  gap: min(10rem, 10vh);
  overflow: hidden;
}

.approach-card-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22.3rem;
  height: 22.3rem;
  background: #ffaa52;
  border-radius: 100%;
  opacity: 0.7;
  z-index: -1;
  filter: blur(80px);
}

.soft-shadow {
  box-shadow: 15px 19px 76.6px #0000000f;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

.test-bg:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.smoke-card {
  background-color: #d8d8d8;
  color: var(--color-text-dark);
  box-shadow: 0 0 3em 0.5em inset color-mix(in srgb, #ffffff 50%, transparent);
  padding: 3rem;
  border-radius: 2rem;
}
